nav {
	 background-color: #808080;
	 font-family: 'Fira Sans Extra Condensed', sans-serif;
}

a  {
	background-color: #ffbf00;
	 color: white;
	 padding: 35px;
	 display: block;
	 float: left;
	 text-decoration: none;
}

a:hover {

	background-color: #ee5f3c;
}


h1 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: rgb(2, 132, 130);
   	text-align: center;
	}

h2 {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #ffd700;
   	text-align: center;
	}

h3 {

    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #FF4C4C;
   	text-align: center;
	}

	h4 {

	    font-family: 'Lobster', cursive;
	    color: black;
	   	text-align: left;
		}

p {
		font-family: 'Fira Sans Extra Condensed', sans-serif;
		font-size:16px;

	}

.board {
		display: inline-block;
		height: 50%;
		width: 50%;
		padding: 0 200px 0 200px;

	}

.card {

	background: yellow;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	margin: 7%;
}

.name {
	color: #ff0000;


}

footer {
	background-color: #808080;
	text-align: center;
	padding: 1.5em 0 1em 0;
}



.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
 }

 img {
 	height: 200px;
	width: 150px;

 }


 .new {

	font-family: 'Lobster', cursive;
	font-size: 17px;
	color: #FF4C4C;
	float: center;
	display: block;
  }


  .next {

	font-family: 'Lobster', cursive;
	font-size: 17px;
	color: #FF4C4C;
	float: right;
	margin-right: 65px;

  }

  .results {

 	background: white;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 5px;
	float: right;
	margin-top: 10px;
	margin-right: 20px;

  }
